h1, h2, h3 {
    font-family: Poppins-Black;
    /* src/fonts/Poppins-Black.ttf */
}

p {
    font-family: OpenSans;
    /* OpenSans-Italic-VariableFont_wdth,wght.ttf */

}

button {
    font-family: Pacifico;
    /* Pacifico-Regular.ttf */
}
table {
    font-family: OpenSans;
    background-color: var(--leaf-green);
}

:root {
    --sky-blue: #7BC8F6;
    --leaf-green: #76B947;
    --sunset-orange: #F2A65A;
    --white: #FFFFFF;
    --twig-brown: #8B572A;
    --robin-blue: #1FCECB;
}

/* font imports */
@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

 
@font-face {
    font-family: Pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Poppins-Black;
    src: url(./fonts/Poppins-Black.ttf);
} 